//style screen
@import "./screens/styles/Home.scss";
//style components
@import "./components/styles/Header.scss";
@import "./components/styles/GameList.scss";

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }